.zone_details_container {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.remove-entry
{
    color: #007bff;
    text-decoration: underline; 
    cursor: pointer;
}

.remove-entry:hover {
    color: #0056b3;
}