acl "trusted_subnet" {
    {% for subnet in Allowed_recursion %}{{ subnet }};
    {% endfor %}
};

options {
    directory "/var/cache/bind";
    recursion {{ Recursion }};
    allow-recursion { trusted_subnet; };
    listen-on { {{ IP }}; };
    listen-on-v6 { none; };
    allow-transfer { none; };
    forwarders {
        {% for forwarder in Forwarders %}{{ forwarder }};
        {% endfor %}
    };

    check-names master ignore;
    check-names slave ignore;
};
