// This is the primary configuration file for the BIND DNS server named.
//
// Please read /usr/share/doc/bind9/README.Debian.gz for information on the 
// structure of BIND configuration files in Debian, *BEFORE* you customize 
// this configuration file.
//
// If you are just adding zones, please do that in /etc/bind/named.conf.local

include "/etc/bind/named.conf.options";
include "/etc/bind/named.conf.local";
include "/etc/bind/named.conf.default-zones";

logging {
    category queries { query_log; };
    channel query_log {
        file "{{ Logfile_query_path }}" versions 10 size {{ Logfile_query_limit_size }};
        print-time yes;
        print-category yes;
        print-severity yes;
        severity {{ Logfile_query_severity }};
    };

    category default { default_log; };
    channel default_log {
        file "{{ Logfile_default_path }}" versions 10 size {{ Logfile_default_limit_size }};
        print-time yes;
        print-category yes;
        print-severity yes;
        severity {{ Logfile_default_severity }};
    };
};
