$TTL    604800
@   IN  SOA {% for domain in domains %}{{ domain }}. {% endfor %}(
        {{ Serial }}       ; Serial
       604800       ; Refresh
        86400       ; Retry
      2419200       ; Expire
      604800)  ; Negative Cache TTL

; NS records
{% for ns in NS %}@        IN      NS      {{ ns }}.
{% endfor %}
; PTR Records
{% for (ptr_record, ptr_ip) in PTR_Record|zip_lists(PTR_IP) %}{{ ptr_ip|reverse_ip_part() }}  IN      PTR     {{ ptr_record }}.
{% endfor %}