{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/add_zone.css') }}">
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        {% for field_name in ['allow_query', 'domains', 'ns', 'a_name', 'a_asoc', 'mx_name', 'mx_asoc'] %}
            var {{ field_name }}Counter = $('#{{ field_name }}-list li').length + 1;
            
            $('#add-{{ field_name }}').click(function () {
                var newEntryHtml = '<li><input type="text" name="{{ field_name }}-' + {{ field_name }}Counter + '" class="form-control d-inline-block"><span class="remove-entry ml-2">Remove</span></li>';
                $('#{{ field_name }}-list').append(newEntryHtml);
                {{ field_name }}Counter++;
            });
        {% endfor %}

        $(document).on('click', '.remove-entry', function () {
            $(this).parent().remove();
        });
    });
</script>
{% endblock %}

{% macro render_field(label, form, field_name, zone_data_key) %}
    <div class="form-group">
        {{ label(class="form-control-label", style="font-weight: bold; font-size: 1.2em;") }}
        <ul id="{{ field_name }}-list" class="list-unstyled">
            {% for entry in form[field_name] %}
                <li class="mb-2">
                    {{ entry(class="form-control d-inline-block") }}
                    <span class="remove-entry ml-2">Remove</span>
                </li>
            {% endfor %}
        </ul>
        <button type="button" class="btn btn-primary" id="add-{{ field_name }}">Add</button>
    </div>
{% endmacro %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Add New Zone</h1>
    <form method="POST" action="{{ url_for('submit_add_zone') }}">
        {{ form.csrf_token }}

        <fieldset class="mb-4">
            <legend>Zone Information</legend>
            <div class="mb-3">
                {{ form.type.label }}
                {{ form.type(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.name.label }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.path.label }}
                {{ form.path(class="form-control") }}
            </div>
            {{ render_field(form.allow_query.label, form, 'allow_query', 'Allow_query') }}
        </fieldset>

        <fieldset class="mb-4">
            <legend>Zone Data Information</legend>
            {{ render_field(form.domains.label, form, 'domains', 'domains') }}
            {{ render_field(form.ns.label, form, 'ns', 'NS') }}
            {{ render_field(form.a_name.label, form, 'a_name', 'A_name') }}
            {{ render_field(form.a_asoc.label, form, 'a_asoc', 'A_asoc') }}
            {{ render_field(form.mx_name.label, form, 'mx_name', 'MX_name') }}
            {{ render_field(form.mx_asoc.label, form, 'mx_asoc', 'MX_asoc') }}
        </fieldset>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
